<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Images/Logo.png" />
    <!--===============================================================================================-->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/LoginContent/Fonts/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/LoginContent/Fonts/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/LoginContent/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/LoginContent/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/LoginContent/animsition.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/LoginContent/select2.css" rel="stylesheet" />
    
    <!--===============================================================================================-->

    <link href="~/Content/LoginContent/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/LoginContent/util.css" rel="stylesheet" />

    <link href="~/Content/LoginContent/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    <div>

        <div class="limiter">
            <div class="container-login100" style="background-image: url('../../Content/Images/back.jpg');">
                <div class="wrap-login100">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>
    <!--===============================================================================================-->
    <script src="~/Content/LoginContent/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Content/LoginContent/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginContent/popper.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Content/LoginContent/select2.js"></script>
    <!--===============================================================================================-->

    <script src="~/Content/LoginContent/moment.js"></script>

    <script src="~/Content/LoginContent/daterangepicker.js"></script>
    <!--===============================================================================================-->

    <script src="~/Content/LoginContent/countdowntime.js"></script>
    <!--===============================================================================================-->

    <script src="~/Content/LoginContent/main.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>

</body>
</html>
