@model IEnumerable<ProiectColectiv.Pacient>
@{
    ViewBag.Title = "IstoricFisa";
    Layout = "~/Views/Shared/_LayoutPacient.cshtml";
}

<div class="container">
    <div class="row margin-card shadow-card">
        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
            <h3>Date personale</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    Ultimul control
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    Medic
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    Ora consultatiei
                </div>
            </div>
        </div>
    </div>
    @*se ia din model toate programarile*@
    @foreach (var Pacient in Model)
    {
        
    <div class="row margin-card shadow-card">
        <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
            @Pacient.FisaMedicala.UltimulControl
        </div>
        
        <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
            @Pacient.Medic.Utilizator.Nume
        </div>

    </div>
        
    }
</div>