
@{
    ViewBag.Title = "Programare";
    Layout = "~/Views/Shared/_LayoutPacient.cshtml";
}

<h2>Programare</h2>


<div class="container">
    <div class="row ">
        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
            <h3>Programare</h3>
            <form >
                Data:
                <input type="date" name="data">
                <input type="submit" name="buton">
            </form>

            </div>
        </div>
    </div>
   