
@{
    ViewBag.Title = "Programare";
    Layout = "~/Views/Shared/_LayoutPacient.cshtml";
}




<div class="container">
    <h2 style="text-align:center">Efectuare programare</h2>
    <div class="row margin-card shadow-card">
        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
            <h3>Date personale</h3>
            <div class="row margin-card shadow-card">

                <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
                    <form>
                        Data:
                        <input type="date" name="data">
                        <input type="submit" name="buton">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
