body {
    padding-top: 60px;
    background-color: #e1e1e1;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.red{
    background-color:red;
}

.blue{
    background-color:blue;
}

.green{
    background-color:green;
}

.margin-card{
    margin:10px;
}

.shadow-card {
    padding: 5px;
    box-shadow: 0 0 10px #808080;
    border-radius: 5px;
}

.container-wraper .container,
.footer-wraper .footer-content{
    background-color: white;
}

.general-container {
    max-width: 1100px;
    margin: 0 auto;
}

.menu-custom {
    padding: 5px 10px;
}

.footer-content{
    padding: 15px 10px;
}

.footer-content .footer-p{
    text-align: center;
    margin-bottom: 0;
}
@media (min-width: 992px) {
    .logImg {
        width: 100%;
    }
}
.logImg {
    display: block;
    margin: auto;
    
}

.vertAlign {
    display: flex;
    align-items: center;
}

.LoginLogo {
    height: 60%;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background: #3973ac;
    background: -webkit-linear-gradient(-135deg, #3973ac, #b3cce6);
    background: -o-linear-gradient(-135deg, #3973ac, #b3cce6);
    background: -moz-linear-gradient(-135deg, #3973ac, #b3cce6);
    background: linear-gradient(-135deg, #3973ac, #b3cce6);
}


/*card classes*/
.row .card, .wrapper-status-bar {
    box-shadow: 0 0 5px #888888;
    border-radius: 2px;
}

.row.margin {
    margin-right: 0;
    margin-left: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.card.padding {
    padding: 10px;
}

/*Container classes*/
.full-height-container {
    min-height: calc(100vh - 51px);
}

/*general classes*/
.informatii, .fisa-medicala{
    font-weight: 700;
    font-size: 1.2em;
}
.informatii p{
    margin-bottom: 0;
}

.control-label.margin-top-20 {
    margin-top: 20px;
}

/* modal classes*/
.close-modal {
    position: relative;
    top: -10px;
}

.general-modal-succes, .general-modal-eroare {
    font-size: 1.3em;
    font-weight: 700;
}

.general-modal-succes {
    color: darkgreen;
}

.general-modal-eroare {
    color: darkred;
}

.general-modal {
    text-align: center;
}