body {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #e1e1e1;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.red{
    background-color:red;
}

.blue{
    background-color:blue;
}

.green{
    background-color:green;
}

.margin-card{
    margin:10px;
}

.shadow-card {
    padding: 5px;
    box-shadow: 0 0 10px #808080;
    border-radius: 5px;
}

.container-wraper .container,
.footer-wraper .footer-content{
    background-color: white;
}

.general-container {
    max-width: 1100px;
    margin: 0 auto;
}

.menu-custom {
    padding: 5px 10px;
}

.footer-content{
    padding: 15px 10px;
}

.footer-content .footer-p{
    text-align: center;
    margin-bottom: 0;
}
@media (min-width: 992px) {
    .logImg {
        width: 100%;
    }
}
.logImg {
    display: block;
    margin: auto;
    
}

.vertAlign {
    display: flex;
    align-items: center;
}

.LoginLogo {
    height: 60%;
}