@model IEnumerable<ProiectColectiv.Utilizator>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}



            @using (Html.BeginForm("Index", "Login", FormMethod.Post, htmlAttributes: new { @id = "form_login" }))
            {
                @Html.AntiForgeryToken()
                <form class="login100-form validate-form">
                    <span class="login100-form-logo">
                        <img src="~/Content/Images/Logo.png" class="LoginLogo" style="height: 60%" />
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Log in
                    </span>

                    <div class="wrap-input100" data-validate="Enter username">
                        <input class="input100" type="text" name="CodUtilizator" placeholder="CodUtilizator">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100" data-validate="Enter password">
                        <input class="input100" type="password" name="Parola" placeholder="Parola">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>



                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt2" href="~/Login/Register">
                            Creeaza cont
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            }
