
@{
    ViewBag.Title = "InvalidLogin";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}


<span class="login100-form-logo">
    <img src="~/Content/Images/Logo.png" class="LoginLogo" style="height: 60%" />
</span>



<div class="text-center p-t-100">
    <p class="txt2 login100-form-title p-b-34 p-t-27" style="align-content: center">

        Codul de utilizator sau parola sunt invalide

    </p>
</div>
<div class="text-center p-t-90">
    <a class="txt2 login100-form-title p-b-34 p-t-27" href="~/Login/Index">

        <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
        Inapoi
    </a>
     
    <a class="txt2" href="~/Login/Register">
        Create your Account
        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
    </a>
</div>


